*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/data/consumer-rules.pro
/presentation/consumer-rules.pro
/.idea/compiler.xml
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/main/res/xml/backup_rules.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/kotlinc.xml
/.idea/misc.xml
/presentation/src/main/java/com/kyutypes/app/presentation/ui/theme/Type.kt
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
